<launch>
    <arg name="map_yaml" default="$(find clcbs_gazebo)/models/heightmap/map.yaml"/>
    <!-- Run the map server -->
    <node name="map_server" pkg="map_server" type="map_server" args="$(arg map_yaml)"/>

    <node pkg="rviz" type="rviz" name="rviz" args="-d $(find clcbs_gazebo)/launch/clcbs_world.rviz"/>
</launch>